@model SaferWatchWebApp.Models.CarrierLookup

@{
            <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
}
<h1>
    Saferwatch Web APP
</h1>

<button id="fetchDataButton">Fetch Data</button>


<input type="text" id="MCNumber" name="docketNumber" />
<br />
<input type="text" id="CargoInsuranceEffectiveDate" name="effectiveDate" />
<br/>
<input type="text" id="CargoInsuranceExpirationDate" name="expirationDate" />
<br />
<input type="text" id="CargoInsuraceCompany" name="companyName" />
<br />
<input type="text" id="CargoInsurancePolicyNumber" name="policyNumber" />
<br />
<input type="text" id="AutoLiabilityEffectiveDate" name="effectiveDate" />
<br />
<input type="text" id="AutoLiabilityExpirationDate" name="expirationDate" /> 
<br />
<input type="text" id="AutoLiabilityInsuranceCompany" name="insurerName" />
<br />
<input type="text" id="AutoLiabilityPolicyNumber" name="policyNumber" />




