@model SaferWatchWebApp.Models.CarrierLookup
<h1>
    Test
</h1>

<button id="fetchDataButton">Fetch Data</button>


<input type="text" id="MCNumber" name="docketNumber" />
<br />
<input type="text" id="CargoInsuranceEffectiveDate" name="effectiveDate" />
<br/>
<input type="text" id="CargoInsuranceExpirationDate" name="expirationDate" />
<br />
<input type="text" id="CargoInsuraceCompany" name="companyName" />
<br />
<input type="text" id="CargoInsurancePolicyNumber" name="policyNumber" />
<br />
<input type="text" id="AutoLiabilityEffectiveDate" name="effectiveDate" />
<br />
<input type="text" id="AutoLiabilityExpirationDate" name="expirationDate" /> 
<br />
<input type="text" id="AutoLiabilityInsuranceCompany" name="insurerName" />
<br />
<input type="text" id="AutoLiabilityPolicyNumber" name="policyNumber" />


<script>
    $(document).ready(function () {
        $('#fetchDataButton').on('click', function () {
            $.ajax({
                url: 'Home/Index',
                type: 'GET',
                success: function (response) {
                    $('#MCNumber').val(response.carrierDetails.docketNumber);

                    response.carrierDetails.fmcsaInsurance.policyList.policyItems.forEach(function (policy) {
                        if (policy.insuranceType === "BIPD") {
                            $('#AutoLiabilityEffectiveDate').val(policy.effectiveDate);
                            $('#AutoLiabilityExpirationDate').val(policy.cancelationDate);
                            $('#AutoLiabilityInsuranceCompany').val(policy.companyName);
                            $('#AutoLiabilityPolicyNumber').val(policy.policyNumber);
                        }
                        
                        $('#CargoInsuranceEffectiveDate').val(response.carrierDetails.effectiveDate);
                        $('#CargoInsuranceExpirationDate').val(response.carrierDetails.expirationDate);
                        $('#CargoInsuraceCompany').val(response.carrierDetails.companyName);
                        $('#CargoInsurancePolicyNumber').val(response.carrierDetails.policyNumber);
                    });
                },
                error: function (error) {
                    console.log('Error fetching data: ', error);
                }
            });
        });
    });
</script>
