@model SaferWatchWebApp.Models.CarrierLookup

@{
            <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
}
<h1>
    Saferwatch Web APP
</h1>

<button id="fetchDataButton">Fetch Data</button>


<input type="text" id="MCNumber" name="docketNumber" />
<br />
<input type="text" id="CargoInsuranceEffectiveDate" name="effectiveDate" />
<br/>
<input type="text" id="CargoInsuranceExpirationDate" name="expirationDate" />
<br />
<input type="text" id="CargoInsuraceCompany" name="companyName" />
<br />
<input type="text" id="CargoInsurancePolicyNumber" name="policyNumber" />
<br />
<input type="text" id="AutoLiabilityEffectiveDate" name="effectiveDate" />
<br />
<input type="text" id="AutoLiabilityExpirationDate" name="expirationDate" /> 
<br />
<input type="text" id="AutoLiabilityInsuranceCompany" name="insurerName" />
<br />
<input type="text" id="AutoLiabilityPolicyNumber" name="policyNumber" />


<script>
    $(document).ready(function () {
        $("#fetchDataButton").click(function () {
            var mcNumber = $("#MCNumber").val();
            if (!mcNumber) {
                alert("Please enter an MC number.");
                return;
            }

            $.ajax({
                url: `/Home/GetData?number=${mcNumber}`,
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(mcNumber),
                success: function (response) {

                    console.log('The data received back is ', response);
                    debugger;

                    // var cargoInsurance = response.CarrierDetails.fmcsaInsurance.policyList.policyItems.find(item => item.insuranceType === "Cargo");
                    // if (cargoInsurance) {
                    //     $("#CargoInsuranceEffectiveDate").val(cargoInsurance.effectiveDate);
                    //     $("#CargoInsuranceExpirationDate").val(cargoInsurance.cancelationDate);
                    //     $("#CargoInsuraceCompany").val(cargoInsurance.companyName);
                    //     $("#CargoInsurancePolicyNumber").val(cargoInsurance.policyNumber);
                    // }


                    // var autoLiability = response.CarrierDetails.CertData.Certificate.Coverages.find(coverage => coverage.type === "Auto");
                    // if (autoLiability) {
                    //     $("#AutoLiabilityEffectiveDate").val(autoLiability.effectiveDate);
                    //     $("#AutoLiabilityExpirationDate").val(autoLiability.expirationDate);
                    //     $("#AutoLiabilityInsuranceCompany").val(autoLiability.insurerName);
                    //     $("#AutoLiabilityPolicyNumber").val(autoLiability.policyNumber);
                    // }

                },
                error: function (xhr, status, error) {
                    console.error("Error fetching data: ", status, error);
                }
            });
        });
    });
</script>


